<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

  <h:body>
    <ui:composition template="/resources/templates/mainTemplate.xhtml">

      <!-- PAGE CONTENT -->
      <ui:define name="content">

        <!-- REQUEST -->
        <div class="row">
          <div class="span12">

            <h:form id="requestForm" styleClass="form-horizontal">

              <fieldset>
                <legend>Analyze Chords</legend>
              </fieldset>

              <p:messages id="requestMessages" showDetail="false" autoUpdate="true" closable="true" />

              <div class="control-group">
                <h:outputLabel value="Artist:" for="artist" styleClass="control-label" />
                <div class="controls">
                  <p:inputText id="artist" value="#{chordFinderBean.requestDTO.artist}" 
                               required="true" requiredMessage="Please enter the name of an artist!" />
                </div>
              </div>

              <div class="control-group">
                <h:outputLabel value="Song:" for="song" styleClass="control-label" />
                <div class="controls">
                  <p:inputText id="song" value="#{chordFinderBean.requestDTO.song}"
                               required="true" requiredMessage="Please enter the title of a song!" />
                </div>
              </div>

              <div class="form-actions">
                <p:commandButton value="Analyze!" action="#{chordFinderBean.initiateRequest}" 
                                 ajax="true" update="@all"/>
              </div>

            </h:form>
          </div>

          <!-- RESULT -->
          <div class="row">
            <div class="span12">
              <h:panelGroup id="responseHidden" rendered="#{chordFinderBean.noResult}">
                <h2>Unfortunately, there was no result...</h2>
              </h:panelGroup>
              <h:panelGroup id="response" rendered="#{chordFinderBean.responseDTO != null}">

                <h2>Results for: #{chordFinderBean.responseDTO.song.artist} - #{chordFinderBean.responseDTO.song.title}</h2>

                <ui:repeat value="#{chordFinderBean.responseDTO.song.tabs}" var="tab">

                  <p:panel header="#{tab.description} | #{tab.type} | #{tab.rating}/5">  

                    <h:outputLink value="#{tab.url}">Link to Tab</h:outputLink>
                    <br/>
                    <br/>
                    <ui:repeat value="#{tab.chords}" var="chord">
                      <span>
                        <img src="#{chord.imageURL}" alt="#{chord.name}"/>
                      </span>
                    </ui:repeat>
                  </p:panel>
                </ui:repeat>
              </h:panelGroup>
            </div>
          </div>

        </div>

      </ui:define>
    </ui:composition>
  </h:body>
</html>