<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" >

  <h:head>
    <title>AWDEI 2013 - ChordFinder</title>
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8" />
    <h:outputStylesheet library="css" name="bootstrap.css" />
    <h:outputStylesheet library="css" name="awdei.css" />
    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <h:outputScript library="js" name="bootstrap.js"/>

    <script>
      $.ajaxSetup({
        timeout: 12000000
      });
    </script>
  </h:head>

  <h:body>

    <!-- NAVIGATION -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">ChordFinder</a>

          <ul class="nav pull-left">

            <!-- Dashboard:  only visible if LOGGED IN -->
            <h:panelGroup rendered="#{securityBean.loggedIn}">
              <li><a href="dashboard.xhtml">Dashboard</a></li>
            </h:panelGroup>

            <!-- Settings:   only visible if LOGGED IN -->
            <h:panelGroup rendered="#{securityBean.loggedIn}">
              <li><a href="settings.xhtml">Settings</a></li>
            </h:panelGroup>
          </ul>

          <!-- Logout Form: only visible if LOGGED IN -->
          <h:panelGroup rendered="#{securityBean.loggedIn}">
            <h:form id="logoutForm" styleClass="navbar-form pull-right" >
              <p:commandButton value="Logout" action="#{logoutBean.logout()}" ajax="false"
                               styleClass="btn-mini" style="top: 6px;"/>
            </h:form>

            <ul class="nav pull-right">
              <li>
                <p class="navbar-text">
                  Logged in as: 
                  <strong>
                    <h:outputText value="#{sessionBean.user.username}" />
                  </strong>
                </p>
              </li>
              <li class="divider-vertical" />
            </ul>
          </h:panelGroup>

        </div>
      </div>
    </div>


    <!-- PAGE CONTENT -->
    <div class="container">
      <ui:insert name="content" >
        If you can see this, you forgot to overwrite the tag "content".
      </ui:insert>
    </div>

  </h:body>
</html>
